// - - - - - - - - - - VARIABLES - - - - - - - - - -
$colorbackground: #ffffff;
$color_neutral_light: #E6E1DA;
$color_neutral_medium: #787878;
$color_neutral_dark: #454545;
$color_primary1: #F37A72;
$color_primary2: #EDE94C;
$color_accent1: #F4C341;
$color_accent2: #F6A138;
$color_accent_bright: #E9529D;
//
$font_main: 'Montserrat', sans-serif;
//
$breakpoint1: 0px;
$breakpoint2: 400px;
$breakpoint3: 960px;
//
$grid_margin_half: 15px;
$grid_margin: 30px;


// - - - - - - - - - - TEMP STYLES - - - - - - - - - -

// header {background-color: lightblue}
// main {background-color: lightyellow}


/* - - - - - - - - - - CSS RESET - - - - - - - - - - */

/* In reset.css file */

/* - - - - - - - - - - BETTER BOX MODEL - - - - - - - - - - */

/* better box model */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/* - - - - - - - - - - BASIC - - - - - - - - - - */

body {
    color: $color_neutral_dark;
    font-family: $font_main;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6rem;
    margin: auto;
    margin-top: 7rem;
}

img, embed, object, video {
    max-width: 100%;
    display: block;
}


/* - - - - - - - - - - TEXT STYLES - - - - - - - - - - */

header {
    font-size: 1.125rem;
    line-height: 2rem;
}

nav, .nav_in_footer {
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: $color_neutral_medium;
    font-weight: 500;
    font-size: .875rem;
}

footer {
    color: $color_neutral_medium;
}


/* - - - - - - - - - - LINKS - - - - - - - - - - */

a:link {
    color: $color_accent_bright;
}

a:hover {
    color: $color_accent1;
}

a:visited {
    color: $color_accent1;
}

nav, footer {
    a:link, a:visited {
        color: $color_neutral_medium;
        text-decoration: none;
    }
    a:hover {
        color: $color_primary1;
    }
}


/* - - - - - - - - - - NAVIGATION - - - - - - - - - - */

.nav_links {
    position: fixed;
    top: .5rem;
    left: 1.2rem;
    transform-origin: bottom left;
    transform: rotate(90deg);

    li {
        display: inline-block;
        padding-right: 2rem;
    }

}

.nav_social_icons {
    text-align: center;
    position: fixed;
    width: 23px;
    bottom: 1.5rem;
    left: 1.4rem;

    li {
        padding: 1px 0 1px 0;
    }

    svg path {
        fill: $color_neutral_medium;
    }
}

/* - - - - - - - - - - SECTIONS // LAYOUT - - - - - - - - - - */

/* main column: header, main, footer */

@media screen and (min-width: $breakpoint2) {
    main, header {
        width: 90%;
        margin: auto;
    }
}

@media screen and (min-width: $breakpoint3) {
    main, header {
        width: 80%;
        margin: auto;
    }
}

@media screen and (min-width: $breakpoint2) {

    header {

        display: flex;
        justify-content: flex-end;

        div {
            margin: $grid_margin_half;
        }

        .intro {
            width: calc(60% - 30px);
        }
    }
    
    main {

        display: flex;
        flex-wrap: wrap;
        margin-bottom: 6rem;

        > div {
            margin: 15px;
        }

        .project:nth-child(1) {
            width: calc(60% - 30px);
        }

        .project:nth-child(2) {
            width: calc(40% - 30px);
        }

        .project:nth-child(3) {
            width: calc(100% - 30px);
        }

        .project:nth-child(4) {
            width: calc(60% - 30px);

            >div:not(:last-child) {
                padding-bottom: $grid_margin;
            }
        }

        .project:nth-child(5) {
            width: calc(40% - 30px);
        }
    }
}

/* - - - - - - - - - - FOOTER - - - - - - - - - - */

footer {
    padding: 1.2rem;
    background-color: $color_primary2;
    /* flex */
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    li {
        display: inline-block;
        padding-right: 2rem;
    }
    div:nth-child(1), div:nth-child(3) {
        width: 80%;
    }
    div:nth-child(2), div:nth-child(4) {
        width: 20%;
    }
    div:nth-child(1), div:nth-child(2) {
        margin-bottom: 2.5rem;
    }
}