/* CSS reset in a separate file */

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
//    #VARIABLES 
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 

$color-background: #ffffff;
$color-neutral-light: #E6E1DA;
$color-neutral-medium: #787878;
$color-neutral-dark: #454545;
$color-primary1: #E9529D;
$color-primary2: #EDE94C;
$color-accent-light: #F4C341;
$color-accent-medium: #F6A138;
$color-accent-dark: #F37A72;
//
$font-body: 'Open Sans', sans-serif;
$font-secondary: 'Open Sans', sans-serif;
$font-nav: 'Montserrat', sans-serif;
//
$font-weight-regular: 400;
$font-weight-medium: 600;
$font-weight-heavy: 700;
//
$breakpoint1: 0px;
$breakpoint2: 400px;
$breakpoint3: 960px;
//
$grid-margin-half: 15px;
$grid-margin: 30px;





// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
//    #MIXINS
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 

@mixin hover-transition {
    transition: 400ms;
    transition-timing-function: ease-in-out;
}





// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
//    #TEMP STYLES
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 

// header {background-color: lightblue}
// main {background-color: lightyellow}





/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - *\
      #BETTER BOX MODEL
\* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }





/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - *\
      #BASIC
\* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

html {
  font-size: 16px;
  background-color: $color-primary2;
}

img, embed, object, video {
  display: block;
  max-width: 100%;
}

body {
  margin: auto;
  padding-top: 7rem;
  //
  color: $color-neutral-dark;
  font-family: $font-body;
  font-weight: $font-weight-regular;
  line-height: 1.6;
  //
  background-color: $color-background;
  border-top: 0.5rem solid $color-primary2;
}

.c-main {
  width: 80%;
  margin: auto;
}





/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - *\
      #TYPE STYLES
\* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.intro {
  font-size: 1.125rem;
  line-height: 2;
}

h2 {
  color: $color-accent-medium;
  font-family: $font-nav;
  font-size: 2.25rem;
  font-style: italic;
  font-weight: $font-weight-heavy;
}

footer {
  color: $color-neutral-medium;
}

.project-desc__title {
  color: $color-background;
  font-family: $font-nav;
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 500;
}

.project-desc__text {
  color: $color-background;
  font-size: .875rem;
}





/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - *\
      #LINKS
\* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

a, 
nav a svg path,
footer a svg path {
  @include hover-transition;
}

a:link {
    color: $color-accent-medium;
    text-decoration: none;
}

a:hover {
    color: $color-primary1;
}

a:visited {
    color: $color-accent-light;
}

nav, footer {
    a:link, a:visited {
      color: $color-neutral-medium;
      text-decoration: none;
    }
    a:hover {
      color: $color-primary1;
    }

    a svg path:hover {
      fill: $color-primary1;
    }
}

a.button:link {
  color: $color-background;
  text-decoration: none;
}

a.button:hover {
  color: $color-primary1;
}

a.button:visited {
  color: $color-background;
}





/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - *\
      #COMPONENTS (SHARED)
\* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* ************ #Logo ************ */

.logo {
  svg path, svg rect {
    fill: $color-primary1;
  }
}

/* ************ #Social icons ************ */

.social {
  svg path {
    fill: $color-neutral-medium;
  }
  svg {
    width: 25px;
  }
}

/* ************ #Navigation links ************ */

.nav-links {
  li {
    display: inline-block;
    padding-right: 2rem;
    //
    color: $color-neutral-medium;
    font-family: $font-nav;
    font-size: .875rem;
    font-weight: $font-weight-medium;
    letter-spacing: .1rem;
    text-transform: uppercase;
  }
}

/* ************ #Buttons ************ */

.button {
  margin-right: 5px;
  padding: 6px 10px;
  font-size: .7rem;
  font-weight: $font-weight-medium;
  text-transform: uppercase;
  background-color: $color-primary2;
  border-radius: 3px;
}





/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - *\
      #LAYOUT #MENU(MAIN) #NAVIGATION
\* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.nav-links__main-menu {
  position: fixed;
  top: .5rem;
  left: 1.2rem;
  transform: rotate(90deg);
  transform-origin: bottom left;
}

svg.logo--menu {
    height: 16px;
}

.c-social--nav {
  position: fixed;
  bottom: 1.5rem;
  left: 1.2rem;
  z-index: 1;
}





/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - *\
      #LAYOUT #HEADER
\* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.c-header {
  display: flex;
  justify-content: flex-end;
  margin: $grid-margin-half;
  margin-bottom: 7rem;
}

.header__intro {
  width: calc(50% - 30px);
}

.logo--intro {  
  position: relative; 
  top: 0.7px;
  //display:inline; 
  height: 1rem; 
}





/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - *\
      #LAYOUT #FOOTER
\* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.c-footer {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 99;
  padding: 1.2rem; 
  background-color: $color-primary2;
  
  >div:nth-child(1), >div:nth-child(3) {
    width: 80%;
  }
  >div:nth-child(2), >div:nth-child(4) {
    width: 20%;
  }
  >div:nth-child(1), >div:nth-child(2) {
    margin-bottom: 2.5rem;
  }
}

.c-social--footer {
  align-self: flex-end;
}

.social__list--footer {
  line-height: 0;
}

.social__icon--footer {
  display: inline-block;
  padding-right: 5px;
}

.logo--footer {
  height: 1rem;
}





/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - *\
      #LAYOUT #PROJECTS
\* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* #TODO need to take out of this and add to a container */
main {
  h2 {
    margin-left: $grid-margin-half;
  }
}

/* container for projects on home page */
.c-projects {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 6rem;
}

/* space between projects */
.project__block {
  margin: $grid-margin-half;
}

/* adds bottom margin to project that has a shared
   block container with another project */
.project--margin {
  margin-bottom: $grid-margin;
}

/* do not remove inner container class
   this makes the overlay go over
   single projects only */
.project__block, 
.project-container-inner {
  position: relative;
}

.project__block:nth-child(1),
.project__block:nth-child(4) {
  width: calc(60% - 30px);
}

.project__block:nth-child(2),
.project__block:nth-child(5) {
  width: calc(40% - 30px);
}

.project__block:nth-child(3) {
  width: calc(100% - 30px);
}





/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - *\
      #LAYOUT #OVERLAY FOR PROJECTS
\* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  padding: 1rem;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, $color-primary1 70%);
  @include hover-transition;
  opacity: 0;

  /* transparent pngs */
  /* to link to projects */
  img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
  }  
}

.project-desc {
  position: absolute;
  bottom: 1rem;
  width: 350px;
}

.project-desc__title {
  padding-bottom: 0.5rem;
}

.project-desc__text {
  padding-bottom: 1.2rem;
}

.project--overlay:hover .overlay { 
  opacity: 1;
  @include hover-transition;
}





/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - *\
      #ONE-OFF
\* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */





/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - *\
      #TESTING
\* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */


