// - - - - - - - - - - VARIABLES - - - - - - - - - -
$colorbackground: #ffffff;
$color_neutral_light: #E6E1DA;
$color_neutral_medium: #787878;
$color_neutral_dark: #454545;
$color_primary1: #F37A72;
$color_primary2: #EDE94C;
$color_accent1: #F4C341;
$color_accent2: #F6A138;
$color_accent_bright: #E9529D;
//
$font_main: 'Montserrat', sans-serif;
//
$breakpoint1: 0px;
$breakpoint2: 400px;
$breakpoint3: 960px;
//
$gutter_width_half: 1.945%;
$gutter_width: 3.89%;
$col_width_1: 6.5%;
$col_width_2: 16.89%;
$col_width_3: 27.28%;
$col_width_4: 37.67%;
$col_width_5: 48.06%;
$col_width_6: 58.45%;
$col_width_7: 79.73%;
$col_width_8: 83.12%;
$col_width_9: 93.51%;
$col_width_10: 100%;
//
$grid_margin_half: 15px;
$grid_margin: 30px;


/* - - - - - - - - - - TEMP STYLES - - - - - - - - - - */

header {background-color: lightblue}
main {background-color: lightyellow}
footer {background-color: lightsteelblue}


/* - - - - - - - - - - CSS RESET - - - - - - - - - - */

/* In reset.css file */

/* - - - - - - - - - - BETTER BOX MODEL - - - - - - - - - - */

/* better box model */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/* - - - - - - - - - - BASIC - - - - - - - - - - */

html {
    color: $color_neutral_dark;
    font-family: $font_main;
    font-size: 16px;
}

body {
    margin: auto;
    margin-top: 7rem;
}

img, embed, object, video {
    max-width: 100%
}


/* - - - - - - - - - - NAVIGATION - - - - - - - - - - */

.nav_container {
    position: fixed;
    top: .5rem;
    left: 1rem;
    transform-origin: bottom left;
    transform: rotate(90deg);
    letter-spacing: .1rem;
}

nav {

    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: $color_neutral_medium;
    font-weight: 500;
    font-size: .875rem;
    
    li {
        display: inline-block;
        padding-right: 2rem;
    }
    
    a:link, a:visited {
        color: $color_neutral_medium;
        text-decoration: none;
    }
    
    a:hover {
        color: $color_primary1;
    }
    
}


/* - - - - - - - - - - LINKS - - - - - - - - - - */

a:link {
    color: $color_accent_bright;
}

a:hover {
    color: $color_accent1;
}

a:visited {
    color: $color_accent1;
}


/* - - - - - - - - - - SECTIONS // LAYOUT - - - - - - - - - - */

/* main column: header, main, footer */

@media screen and (min-width: $breakpoint2) {
    
    main, header, footer {
        width: 90%;
        margin: auto;
    }

}

@media screen and (min-width: $breakpoint3) {
    
    main, header, footer {
        width: 80%;
        margin: auto;
    }

}

@media screen and (min-width: $breakpoint2) {

    header {

        display: flex;
        justify-content: flex-end;

        div {
            margin: $grid_margin_half;
        }

        .intro {
            width: calc(60% - 30px);
        }
    }
    
    main {

        display: flex;
        flex-wrap: wrap;

        div {
            margin: 15px;
        }

        .project:nth-child(1) {
            width: calc(60% - 30px);
        }

        .project:nth-child(2) {
            width: calc(40% - 30px);
        }

        .project:nth-child(3) {
            width: calc(100% - 30px);
        }

        .project:nth-child(4) {
            width: calc(60% - 30px);
        }

        .project:nth-child(5) {
            width: calc(40% - 30px);
        }

        .project:nth-child(6) {
            width: calc(60% - 30px);
        }
    }
}

/* - - - - - - - - - - FOOTER - - - - - - - - - - */

footer {
}


/* - - - - - - - - - - TEXT STYLES - - - - - - - - - - */

body { 
}

header {
    font-size: 1.125rem;
    line-height: 2rem;
}

p {
}

h1 {
}

h2 {
}

h3 {
}

h4 {
}

h5 {
}

/* - - - - - - - - - - JQUERY - - - - - - - - - - */



/* - - - - - - - - - - RESPONSIVE PHONE - - - - - - - - - - */

@media screen and (max-width: 768px) {
}

/* - - - - - - - - - - RESPONSIVE TABLET - - - - - - - - - - */

@media screen and (min-width: 768px) and (max-width: 992px) {
}

/* - - - - - - - - - - RESPONSIVE LARGER SCREENS - - - - - - - - - - */

@media screen and (min-width: 992px) {
}

