/* CSS reset in a separate file */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - *\
      #BETTER BOX MODEL
\* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - *\
      #BASIC
\* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
html {
  background-color: #EDE94C;
}

body {
  background-color: #ffffff;
  margin: auto;
  padding-top: 7rem;
  border-top: 0.5rem solid #EDE94C;
  color: #454545;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6rem;
}

img, embed, object, video {
  max-width: 100%;
  display: block;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - *\
      #TYPE STYLES
\* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
header {
  font-size: 1.125rem;
  line-height: 2rem;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.25rem;
  font-weight: 700;
  color: #F6A138;
  font-style: italic;
  margin-left: 15px;
}

nav, .nav-in-footer {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #787878;
  font-weight: 600;
  font-size: .875rem;
}

footer {
  color: #787878;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - *\
      #LINKS
\* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
a:link {
  color: #F6A138;
  text-decoration: none;
}

a:hover {
  color: #E9529D;
}

a:visited {
  color: #F4C341;
}

a {
  transition: 300ms;
  transition-timing-function: ease-in-out;
}

nav a:link, nav a:visited, footer a:link, footer a:visited {
  color: #787878;
  text-decoration: none;
}
nav a:hover, footer a:hover {
  color: #F37A72;
}
nav a svg path:hover, footer a svg path:hover {
  fill: #F37A72;
}
nav a svg path, footer a svg path {
  transition: 300ms;
  transition-timing-function: ease-in-out;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - *\
      #LAYOUT #NAVIGATION
\* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.nav-links {
  position: fixed;
  top: .5rem;
  left: 1.2rem;
  transform-origin: bottom left;
  transform: rotate(90deg);
}
.nav-links li {
  display: inline-block;
  padding-right: 2rem;
}
.nav-links svg {
  height: 16px;
}

.nav-social-icons {
  z-index: 1;
  text-align: center;
  position: fixed;
  width: 23px;
  bottom: 1.5rem;
  left: 1.4rem;
}
.nav-social-icons li {
  padding: 1px 0 1px 0;
}
.nav-social-icons svg path {
  fill: #787878;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - *\
      #LAYOUT #SECTIONS
\* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* main column: header, main, footer */
@media screen and (min-width: 400px) {
  main, header {
    width: 90%;
    margin: auto;
  }
}
@media screen and (min-width: 960px) {
  main, header {
    width: 80%;
    margin: auto;
  }
}
@media screen and (min-width: 400px) {
  header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 7rem;
  }
  header p {
    margin-bottom: 1.7rem;
  }
  header div {
    margin: 15px;
  }
  header .intro {
    width: calc(50% - 30px);
  }

  /* container for projects on home page */
  .main-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 6rem;
  }
  .main-container > div {
    margin: 15px;
  }
  .main-container .project-container, .main-container .project-container-inner {
    position: relative;
  }
  .main-container .project-container:nth-child(1) {
    width: calc(60% - 30px);
  }
  .main-container .project-container:nth-child(2) {
    width: calc(40% - 30px);
  }
  .main-container .project-container:nth-child(3) {
    width: calc(100% - 30px);
  }
  .main-container .project-container:nth-child(4) {
    width: calc(60% - 30px);
  }
  .main-container .project-container:nth-child(4) > div:not(:last-child) {
    margin-bottom: 30px;
  }
  .main-container .project-container:nth-child(5) {
    width: calc(40% - 30px);
  }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - *\
      #LAYOUT #FOOTER
\* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
footer {
  position: relative;
  z-index: 99;
  padding: 1.2rem;
  padding-bottom: 1rem;
  background-color: #EDE94C;
  z-index: 99;
  /* flex */
  display: flex;
  flex-wrap: wrap;
}
footer li {
  display: inline-block;
  padding-right: 2rem;
}
footer > div:nth-child(1), footer > div:nth-child(3) {
  width: 80%;
}
footer > div:nth-child(2), footer > div:nth-child(4) {
  width: 20%;
}
footer > div:nth-child(1), footer > div:nth-child(2) {
  margin-bottom: 2.5rem;
}

.footer-logo {
  height: 15px;
}

.footer-social-icons-container {
  align-self: flex-end;
}

.footer-social-icons ul {
  line-height: 0;
}
.footer-social-icons li {
  display: inline-block;
  padding-right: 5px;
  line-height: 0;
}
.footer-social-icons svg {
  width: 25px;
  height: 25px;
}
.footer-social-icons svg path {
  fill: #787878;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - *\
      #ONE-OFF
\* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.intro-logo svg {
  display: inline;
  height: 1rem;
  position: relative;
  top: 0.7px;
}
.intro-logo svg path, .intro-logo svg rect {
  fill: #E9529D;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - *\
      #TESTING
\* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.overlay {
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #E9529D 70%);
  height: 100%;
  width: 100%;
  content: '';
  transition: 300ms;
  transition-timing-function: ease-in-out;
  padding: 1rem;
}
.overlay img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.overlay p {
  color: #ffffff;
  position: absolute;
  bottom: 1rem;
  width: 350px;
  font-family: "Open Sans", sans-serif;
  font-size: .875rem;
}
.overlay p a:link {
  text-decoration: none;
  color: #F37A72;
  transition: 300ms;
  transition-timing-function: ease-in-out;
}
.overlay p a:hover {
  color: #E9529D;
  transition: 300ms;
  transition-timing-function: ease-in-out;
}
.overlay p a:visited {
  color: #F37A72;
}
.overlay p .link-button {
  border-radius: 3px;
  padding: 6px 10px;
  background-color: #EDE94C;
  margin-right: 5px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: .7rem;
}
.overlay p .project-description {
  display: inline-block;
  padding-bottom: 1.2rem;
  line-height: 1.2rem;
}
.overlay p .project-description-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: italic;
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
  display: inline-block;
}

.project-container.project-overlay:hover .overlay, .project-container-inner.project-overlay:hover .overlay {
  opacity: 1;
  transition: 300ms;
  transition-timing-function: ease-in-out;
}

/*# sourceMappingURL=main.css.map */
