/* - - - - - - - - - - CSS RESET - - - - - - - - - - */
/* In reset.css file */
/* - - - - - - - - - - BETTER BOX MODEL - - - - - - - - - - */
/* better box model */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* - - - - - - - - - - BASIC - - - - - - - - - - */
body {
  color: #454545;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6rem;
  margin: auto;
  margin-top: 7rem;
}

img, embed, object, video {
  max-width: 100%;
  display: block;
}

/* - - - - - - - - - - TEXT STYLES - - - - - - - - - - */
header {
  font-size: 1.125rem;
  line-height: 2rem;
}

h2 {
  font-size: 2.25rem;
  font-weight: 700;
  color: #F6A138;
  font-style: italic;
  margin-left: 15px;
}

nav, .nav_in_footer {
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #787878;
  font-weight: 500;
  font-size: .875rem;
}

footer {
  color: #787878;
}

/* - - - - - - - - - - LINKS - - - - - - - - - - */
a:link {
  color: #E9529D;
}

a:hover {
  color: #F4C341;
}

a:visited {
  color: #F4C341;
}

nav a:link, nav a:visited, footer a:link, footer a:visited {
  color: #787878;
  text-decoration: none;
}
nav a:hover, footer a:hover {
  color: #F37A72;
}

/* - - - - - - - - - - LAYOUT // NAVIGATION - - - - - - - - - - */
.nav_links {
  position: fixed;
  top: .5rem;
  left: 1.2rem;
  transform-origin: bottom left;
  transform: rotate(90deg);
}
.nav_links li {
  display: inline-block;
  padding-right: 2rem;
}

.nav_social_icons {
  z-index: -1;
  text-align: center;
  position: fixed;
  width: 23px;
  bottom: 1.5rem;
  left: 1.4rem;
}
.nav_social_icons li {
  padding: 1px 0 1px 0;
}
.nav_social_icons svg path {
  fill: #787878;
}

/* - - - - - - - - - - LAYOUT // SECTIONS - - - - - - - - - - */
/* main column: header, main, footer */
@media screen and (min-width: 400px) {
  main, header {
    width: 90%;
    margin: auto;
  }
}
@media screen and (min-width: 960px) {
  main, header {
    width: 80%;
    margin: auto;
  }
}
@media screen and (min-width: 400px) {
  header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 7rem;
  }
  header p {
    margin-bottom: 1.7rem;
  }
  header div {
    margin: 15px;
  }
  header .intro {
    width: calc(50% - 30px);
  }

  /* container for projects on home page */
  .main_container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 6rem;
  }
  .main_container > div {
    margin: 15px;
  }
  .main_container .project:nth-child(1) {
    width: calc(60% - 30px);
  }
  .main_container .project:nth-child(2) {
    width: calc(40% - 30px);
  }
  .main_container .project:nth-child(3) {
    width: calc(100% - 30px);
  }
  .main_container .project:nth-child(4) {
    width: calc(60% - 30px);
  }
  .main_container .project:nth-child(4) > div:not(:last-child) {
    padding-bottom: 30px;
  }
  .main_container .project:nth-child(5) {
    width: calc(40% - 30px);
  }
}
/* - - - - - - - - - - LAYOUT // FOOTER - - - - - - - - - - */
footer {
  padding: 1.2rem;
  padding-bottom: 1rem;
  background-color: #EDE94C;
  z-index: 99;
  /* flex */
  display: flex;
  flex-wrap: wrap;
}
footer p {
  padding-bottom: 2px;
}
footer li {
  display: inline-block;
  padding-right: 2rem;
}
footer > div:nth-child(1), footer > div:nth-child(3) {
  width: 80%;
}
footer > div:nth-child(2), footer > div:nth-child(4) {
  width: 20%;
}
footer > div:nth-child(1), footer > div:nth-child(2) {
  margin-bottom: 2.5rem;
}

.footer_social_icons_container {
  align-self: flex-end;
}

.footer_social_icons ul {
  line-height: 0;
}
.footer_social_icons li {
  display: inline-block;
  padding-right: 5px;
  line-height: 0;
}
.footer_social_icons svg {
  width: 25px;
  height: 25px;
}
.footer_social_icons svg path {
  fill: #787878;
}

/*# sourceMappingURL=main.css.map */
